# Fichiers temporaires LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.md.bak

# Fichiers Python
__pycache__/
*.pyc
**/script_old/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de données volumineux
data/raw/
data/processed/

*.fits
*.npy
data/Zeeman/Raw/
data/Zeeman/Processed/
drafts/
