# Fichiers temporaires LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls

# Fichiers Python
__pycache__/
*.pyc
**/script_old/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de données volumineux
data/raw/
data/processed/
